/* Css Init */
/* -------- */

/* CSS Reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

header {
	padding: 1em;
	background-color: #212121;
}

/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
}
/* ------------ */
/* End css init */

/* Grids Layouts */
/* ------------- */

/* General */
body {
	display: grid;
	grid-template-areas: 	"header"
							"main"
							"footer";
}

header {
	grid-area: header;
}

header nav {
	grid-area: nav;
}

main {
	grid-area: main;
}

/* Footer: Mobile first grid */
footer {
	background-color: #212121;
	grid-area: footer;
	display: grid;
	grid-template-columns: 5% 45% 45% 5%;
	justify-content: center;
	gap: 1em;
	padding: 2em;
}

.footer__nav {
	grid-column: 2;
	grid-row: 1;
}

.footer__socialNetworks {
	grid-column: 3;
	grid-row: 1;
}

.footer__contact {
	display: none;
	grid-column: 3;
	grid-row: 1;
}

.footer__map {
	display: none;
}

.footer__dytSignature {
	font-size: 80%;
	font-weight: lighter;
	justify-self: end;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 2;
}


/* Desktop view */
@media screen and (min-width: 1200px) {

	footer {
		grid-template-columns: 5% 20% 20% 30% 20% 5%;
		justify-content: center;
		gap: 1em;
		padding: 2em;
	}

	.footer__nav {
		grid-column: 2;
		grid-row: 1;
	}

	.footer__socialNetworks {
		grid-column: 3;
		grid-row: 1;
	}

	.footer__contact {
		display: block;
		grid-column: 4;
		grid-row: 1;
	}

	.footer__map {
		display: block;
		justify-self: end;
		grid-column: 5;
		grid-row: 1;
	}

	.footer__dytSignature {
		font-size: 80%;
		font-weight: lighter;
		justify-self: end;
		grid-column-start: 2;
		grid-column-end: 6;
		grid-row: 2;
	}
}

/* Team page */
.teamPageGrid {
	display: grid;
	grid-template-columns: .15fr .7fr .15fr;
	grid-row: auto;
	gap: 1em;
	padding: 1em;
}

.teamCards__grid {
	grid-column-start: 2;
	grid-column-end: 3;
}

/* ----------------- */
/* End grids layouts */

/* ------------- */
/* Header styles */
.header__navLogo {
	width: 3em;
}

header nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0.1em 2em 0.1em 2em;
}

header nav ul {
	text-decoration: none;
	display: inline-block;
	list-style: none;
}

header nav ul li {
	display: inline-block;
	padding: 1em;
	/* border: solid 1px white; */
}

header nav a {
	text-decoration: none;
	color: white;
	font-size: 1.15em;
	font-weight: normal;
}
/* ----------------- */
/* End header styles */

/* ----------- */
/* Main styles */

/* Portada */
.portada {
	padding: 1em;
	height: 80vh;
	background-image: url("../img/cover-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.portada__title {
	display: block;
	text-align: center;
	font-size: 500%;
	font-weight: bold;
	color: white;
}

.portada__subtitle {
	display: block;
	text-align: center;
	font-size: 200%;
	font-weight: lighter;
	color: white;
}

/* Sections */
.section {
	/* height: 48vh; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* overflow: hidden; */
	margin: 1em 2em 1em 2em;
	/* border: solid 1px black; */
	/* border-radius: 1em; */
	box-shadow: 10px 10px 15px lightslategray;
}

.products__section--title {
	text-align: center;
	display: block;
	font-size: 3em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.section__sideParagraph {
	width: 100%;
	min-width: 450px;
	max-width: 900px;
}

.section__sideParagraph p {
	padding: 1em;
	line-height: 2.25em;
	font-size: 115%;
	font-style: italic;
	font-weight: lighter;
	text-align: center;
}

.section__sideParagraph a {
	padding: 2em;
	line-height: 2em;
	font-size: 115%;
}

.section__imgContainer {
	width: 100%;
	min-width: 450px;
	max-width: 900px;
}

.team__skills {
	padding: 3em;
	line-height: 2.5em;
	font-size: 125%;
	font-weight: lighter;
}

@media screen and (min-width: 1200px) {
	.section__sideParagraph {
		width: 40%;
	}
	.section__imgContainer {
		width: 60%;
	}
}

/* background colors */
/* ----------------- */

/* black */
.black {
	background-color: #000000;
}

.black .products__section--title {
	color: white;
}

.black .productContainer__productTitle {
	color: white;
}

.black .productCard__title--text {
	color: white;
}

.black p, a, span {
	color: white;
}

.black div a {
	color: white;
}

/* gray */
.gray {
	background-color: #eeeeee;
}

.gray p, a, span {
	color: black;
}

.gray .products__section--title {
	color: black;
}

.gray .productContainer__productTitle {
	color: black;
}

.gray .productCard__title--text {
	color: black;
}

.gray li {
	color: black;
}

/* Products section */
.sectionProducts {
	overflow: hidden;
	/* height: 90vh; */
	padding: 1em;
	margin: 1em 2em 1em 2em;
	/* border: solid 1px black; */
	/* border-radius: 1em; */
	box-shadow: 10px 10px 15px lightslategray;
}

.sectionProducts__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.productCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	min-width: 400px;
	box-shadow: 10px 10px 15px lightslategray;
	margin: 1em;
}

.productCard__title {
	padding: 1em;
}

.productCard__title--text {
	font-size: 2em;
	font-weight: normal;
	display: block;
	text-align: center;
	padding: 1em;
}

.productCard__img {
	padding: 2em;
}

.productCard__text {
	padding: 1em;
}

.productCard__text p {

	color: black;
	text-align: center;
	padding: 1em;
	font-weight: lighter;
	line-height: 1.5em;
}

.productCard__text a {
	color: black;
	text-align: right;
	padding: 1em;
	font-weight: normal;
	line-height: 1.5em;
}

/* Contact form */
.formCard {
	width: 40%;
	padding: 2em;
	margin: 1em;
	align-items: center;
	box-shadow: 10px 10px 15px lightslategray;
}

.formCard__row {
	display: block;
}

.form__title {
	display: block;
	padding-bottom: 0.25em;
	text-align: left;
	font-size: 300%;
	font-weight: bold;
	color: black;
}

.form__subTitle {
	display: block;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	text-align: left;
	font-size: 150%;
	font-weight: normal;
	color: black;
}

.formCard__row .contact__form fieldset {
	padding: 1em;
}

.formCard__row .contact__form input {
	display: block;
	margin: 1em;
}

.formCard__row .contact__form input#btnSend, input#btnClear {
	display: inline;
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 1em;
}
/* --------------- */
/* End main syles */

/* -------------------------------------- */
/* ------------- Footer Style ----------- */

footer a, span, li{
	color: white;
}

footer i {
	font-size: 20px;
	margin-bottom: 0;
}

footer a {
	text-decoration: none;
}

footer ul {
	list-style: none;
	margin-left: 2em;
}

footer li {
	padding: 10px;
	font-weight: lighter;
}

.footer__section--Title {
	display: block;
	font-size: 155%;
	padding: 0 0 10px 0;
}
/* ----------------- */
/* End footer styles */

/* End file */