// Mixin to set an image as background on section
@mixin image__background($url){
	background-image: $url;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// Mixin to set font size and line_height
@mixin resposive__font($size, $line_height) {
	font-size: $size;
	line-height: $line_height;
}


@mixin footer__p--fontSize($size) {
	footer {
		p {
			font-size: $size;
		}
	}
}

@mixin footer__iframe--size($w, $h) {
	footer {

		iframe {
			width: $w;
			height: $h;
		}
	}
}