// Imports
@import "vars";
@import "breakpoints";


// Header nav logo size
.header__navLogo {
	width: 3em;
}

.portada {
	height: 80vh;
	background-image: url("../img/cover-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sideText {
	font-size: 1em;
	font-style: italic;
	font-weight: lighter;
	line-height: 1.5em;
}

.skills__ul {
	font-size: 1em;
	font-style: italic;
	font-weight: lighter;
	line-height: 1.5em;
	padding-top: 1em;
}

footer {
	.nav {
		a {
			color: white;
		}
	}
	p {
		font-size: 0.7em;
	}
}

/* @media queries */
/* -------------- */

/*
 * NOTE:
 *		Apply mobile first methodology
 *		Express all @medias on em (units)
 *		1em = 16px. To use relative units and avoid
 *		problems on screen with differents density of pixels
 */

// Medium Screens >= 768px
 @media screen and (min-width: map-get($breackpoints, sm)) {

	footer {

		p {
			font-size: 0.9em;
		}
	}

}

// Large Screens >= 1024px
@media screen and (min-width: map-get($breackpoints, md)) {

	footer {

		p {
			font-size: 1em;
		}
	}
}

// Extra Large Screens >= 1440px
 @media screen and (min-width: map-get($breackpoints, lg)) {

	footer {

		iframe {
			width: 380px;
			height: 220px;
		}
	}

	.sideText {
		font-size: 1.25em;
		line-height: 1.8em;
	}

	.skills__ul {
		font-size: 1.25em;
		line-height: 1.8em;
	}
}

// Extra Large Screens >= 1920 px
 @media screen and (min-width: map-get($breackpoints, xl) ) {

	.sideText {
		font-size: 1.4em;
		line-height: 2em;
	}

	.skills__ul {
		font-size: 1.4em;
		line-height: 2em;
	}
}

/* UDH Monitors: min-width: 2560px */
@media screen and (min-width: map-get($breackpoints, xxl)) {

	.sideText {
		font-size: 1.75em;
		line-height: 2.5em;
	}
}
/* ---------- */
/* End @media */

/* End file */