// Imports
@import "colors";
@import "breakpoints";
@import "mixins";


// Header nav logo size
.header__navLogo {
	width: 3em;
}

.portada {
	height: 80vh;
	background-image: url("../img/cover-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sideText {
	font-size: 1em;
	font-style: italic;
	font-weight: lighter;
	line-height: 1.5em;
}

.product-text {
	@extend .sideText;
	font-style: normal;
}

.skills__ul {
	font-size: 1em;
	font-style: normal;
	font-weight: lighter;
	line-height: 1.5em;
	// padding-top: 1em;
}

footer {
	.nav {
		a {
			color: $gray-600;
		}
	}
	p {
		font-size: 0.7em;
	}
	h5 {
		color: $gray-700;
	}

}

.section-title {
	text-align: center;
	font-weight: normal;
	font-style: normal;
}

.products-title {
	@extend .section-title;
	color: $gray-700;
}

@each $name, $color in $palette {
	.colors-#{$name} {
		background-color: $color;
		@if ($name == dark) {
			color: $white;
		} @else if ($name == light-dark) {
			color: $gray-100;
		} @else if ($name == gray){
			color: $gray-800;
		} @else if($name == light-gray){
			color: $gray-800;
		} @else {
			color: $black;
		}
	}

	.link-#{$name} {
		text-decoration: none;
		color: $color;
		font-style: normal;
		font-weight: normal;
	}
}

/* @media queries */
/* -------------- */

/*
 * NOTE:
 *		Apply mobile first methodology
 *		Express all @medias on em (units)
 *		1em = 16px. To use relative units and avoid
 *		problems on screen with differents density of pixels
 */

// Medium Screens >= 768px
 @media screen and (min-width: map-get($breackpoints, sm)) {

	@include footer__p--fontSize(0.9em);

}

// Large Screens >= 1024px
@media screen and (min-width: map-get($breackpoints, md)) {

	@include footer__p--fontSize(1em);

	.sideText {
		@include resposive__font(1.2em, 1.7em);
	}

	.skills__ul {
		@include resposive__font(1.2em, 1.7em);
	}
}

// Extra Large Screens >= 1440px
 @media screen and (min-width: map-get($breackpoints, lg)) {

	@include footer__iframe--size(380px, 220px);

	.sideText {
		@include resposive__font(1.25em, 1.8em);
	}

	.skills__ul {
		@include resposive__font(1.5em, 2em);
	}
}

// Extra Large Screens >= 1920 px
 @media screen and (min-width: map-get($breackpoints, xl) ) {

	.sideText {
		@include resposive__font(1.4em, 2em);
	}

	// .skills__ul {
	// 	@include resposive__font(1.25em, 1.8em);
	// }
}

/* UDH Monitors: min-width: 2560px */
@media screen and (min-width: map-get($breackpoints, xxl)) {

	@include footer__iframe--size(430px, 220px);

	.sideText {
		@include resposive__font(1.8em, 2.5em);
	}
}
/* ---------- */
/* End @media */

/* End file */